
<div class="container form-margin">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Inicio de sesion</h2>
            <form action="/inicio" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="username" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Email">
                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu email con nadie ;)</small>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-dark btn-block">Inicio</button>
            </form>
        </div>
    </div>
</div>


{{#if errorMsg}}
<div class="error-message">{{ errorMsg }}</div>
{{/if}}