<footer class="bg-dark text-light text-center text-md-left">
	<div class="container">
		<div class="row pt-4">
			<div class="col-md-6 pb-4">
				<h4 class="mb-4">
					Quiénes somos
				</h4>
				Bolo Wizard te permite buscar bolos de músicos y bandas locales al igual que otros festivales y eventos musicales internacionales en tu ciudad.
			</div>
			
			<div class="col-md-6 pb-4">
				<h4 class="mb-4">
					Web development tools
				</h4>
				<ul class="list-unstyled">
					<li>
						<a href="https://www.phpcrudgenerator.com/tutorials/how-to-create-a-bootstrap-crud-admin-dashboard" class="text-light">How to create a Bootstrap Admin Dashboard in PHP</a>
					</li>
					<li>
						<a href="https://www.phpformbuilder.pro/drag-n-drop-form-builder/index.html" class="text-light">Drag &amp; drop form builder</a>
					</li>
					<li>
						<a href="https://www.tinymce-bootstrap-plugin.com/" class="text-light">Bootstrap plugin for TinyMce</a>
					</li>
				</ul>
			</div>
		</div>
		<p class="text-center text-secondary border-top border-secondary py-4">
			Bolo Wizard © 2021
		</p>
	</div>
</footer>