img {
  width: 100%; }

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 4.5em;
  margin-bottom: 30px;
  color: black; }

h2, h4, h5 {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif; }

body {
  font-family: 'Source Sans Pro', sans-serif; }

main {
  min-height: 100vh; }

p {
  margin-bottom: 3px; }

.nav-bar-img {
  width: 50px;
  margin: auto; }

.index-page {
  margin-top: 15vh; }

.index-logo {
  width: 50%; }

.month-searchbar {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end; }

.event-card {
  margin: 10px;
  padding: 10px;
  border: #e0e0e0 1px solid;
  border-radius: 5px;
  background-color: #f7f7f7; }

.img-card {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%; }

.card-artist-name {
  font-weight: 600;
  font-size: 1.2em; }

.marker-logo {
  width: 20px; }

.stretch {
  height: 100vh; }

.event-page {
  padding-top: 50px; }

.event-page p span {
  font-weight: 600; }

.artist-info {
  margin-bottom: 50px; }

.event-page a img {
  width: 50px; }

.event-page audio {
  margin-bottom: 20px; }

.event-page h6 {
  text-align: start; }

.tracks-preview {
  color: white;
  background-color: black;
  padding: 30px; }

.track {
  width: 75%;
  height: 30px; }

.artist-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover; }

.form-margin {
  padding-top: 50px; }

#map, #event-map, #local-map {
  height: 400px;
  background-color: #7777cf; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 5px 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */ }

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */ }

.profile {
  margin-top: 30px; }

.profile h2 {
  font-size: 60px; }

.about-me {
  margin: 20px 0px; }

.profile-img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%; }

.user-container {
  text-align: center;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  border-radius: 5px;
  padding: 18px 0px;
  margin-bottom: 10px; }

.user-container h3 {
  margin-bottom: 20px;
  font-size: 35px; }

.user-container-items {
  padding: 5px; }

.user-container-items .my-event-btn {
  display: flex;
  justify-content: center; }

.user-container-items button {
  margin-left: 5px; }

.user-container-items h5 {
  margin-bottom: 0px;
  margin-top: 10px; }

.user-container-items p {
  margin-bottom: 10px;
  color: #858585; }

.social-media-icons {
  margin-top: 50px; }

.spotify-color img {
  width: 40px;
  margin: 0 10px; }

.youtube-logo img {
  width: 82px;
  margin: 0 10px; }

.facebook-logo img {
  width: 35px;
  margin: 0 10px; }

.admin-page {
  margin-top: 30px; }

.admin-logo {
  width: 25%; }

.admin-title-container {
  margin: 10px 0px; }

.my-event-profile-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%; }

.profile-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; }

.my-event-btn {
  margin: 25px 0px;
  display: block; }

.no-events {
  margin: 18vh 0; }

.no-events img {
  width: 200px; }

.error-message {
  background-color: #eb6565;
  color: white;
  position: fixed;
  bottom: 10px;
  left: 30%;
  width: 40%;
  padding: 5px 0;
  font-size: .9em;
  text-align: center;
  transform: translateY(calc(100% + 20px));
  animation: showMessage 2s forwards;
  border-radius: 5px; }

@keyframes showMessage {
  0% {
    transform: translateY(calc(100% + 20px)); }
  10% {
    transform: translateY(0px); }
  90% {
    transform: translateY(0px); }
  100% {
    transform: translateY(calc(100% + 20px)); } }

/*# sourceMappingURL=style.css.map */