<div class="container form-margin">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="profile-data">
                <img class="my-event-profile-img" src="{{user.img}}" alt="{{user.artisticName}}">
                <h3>Nuevo evento</h3>
            </div>
            <form action="/usuario/mi-evento" method="POST">
                <div class="form-group">
                    <label for="title">Título del evento</label>
                    <input type="title" id="title" name="title" class="form-control">
                </div>

                <div class="form-group">
                    <label for="date">Fecha del evento</label>
                    <input type="datetime-local" id="date" name="date" class="form-control">
                </div>

                <div class="form-group">
                    <label for="city">Ciudad</label>
                    <input type="String" id="city" name="city" class="form-control">
                </div>

                <div class="form-group">
                    <label for="place">¿En dónde es tu evento?</label>
                    <input type="text" id="place" name="place" class="form-control">
                </div>

                <div class="form-group">
                    <label for="latitude">Longitud</label>
                    <input type="number" id="latitude" name="latitude" step="any" class="form-control">
                </div>

                <div class="form-group">
                    <label for="longitude">Latitud</label>
                    <input type="number" id="longitude" name="longitude" step="any" class="form-control">
                    <small>Para ubicar el evento, entra a google maps y con el click derecho te aparecerán las coordenadas de Latitud y Longitud.</small>
                </div>

                <div class="form-group">
                    <label for="img">¿El evento tiene una foto o imagen promocional? Comparte aquí la URL</label>
                    <input type="text" id="img" name="img" class="form-control">
                </div>

                <button type="submit" class="my-event-btn btn btn-dark btn-block">Crear evento</button>
            </form>

                <a href="/usuario/perfil" class="my-event-btn btn btn-outline-dark">Regresar a perfil</a>

        </div>
    </div>
</div>


{{#if errorMsg}}
<div class="error-message">{{ errorMsg }}</div>
{{/if}}

{{>footers}}
